# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node modules (if you later use JS tools)
node_modules/

# Build directories
dist/
build/

# Temporary files
*.tmp
*.swp
*.bak

# Editor folders
.vscode/
.idea/